@font-face{
  font-family: "Dosis-Light";
  src: url("Dosis-Light.ttf");
}
@font-face{
  font-family: "MiriamLibre-Regular";
  src: url("MiriamLibre-Regular.ttf");
}
body, html {
  padding: 0; margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#container {
}
#header {
  border-top: 10px solid #4295c0;
  border-bottom: 1px solid #eee;
  height: 70px;
  display: flex;
}
.title {
  padding: 1.5% 0 0 4%;
  font-size: 24px;
  font-family: "Dosis-Light";
  width: 20%;
  height: 52px;
  color: #4295c0;
  border-right: 1px solid #eee;
}
#nav {
  width: 80%;
  height: 100%;
  padding: 0;
  font-family: "MiriamLibre-Regular";
}
#nav ul {
  display: flex;
  flex-direction: row;
}
#nav ul li {
  float: left;
  width: calc(100% / 6);
  text-align: center;
}
#nav ul li a {
  color: #666;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding: 23px 0;
}
#nav ul li a:hover {
  border-bottom: 3px solid #4295c0;
}
.hover {
  border-bottom: 3px solid #4295c0;
}
.content {
  width: 85%;
  margin: auto;
  margin-top: 30px;
}
.left {
  position: fixed;
  width: 25%;
  border-right: 1px solid #eee;
  text-align: center;
}
.left ul li {
  margin: 10px 0;
}
.left a {
  color: #000;
  text-decoration: none;
}
.left a:hover {
  color: #4295c0;
}
.left .li-hover {
  color: #4295c0;
}
.right {
  padding-left: 350px;
}
.footer {
  height: 100px;
  background-color: #224b60;
}